body{
    margin-top: 100px;
}
ul li{
    border: 2px solid black;
    height: 60px;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}
h1{
    text-align: center;
    padding-bottom: 25px;
    text-decoration: underline;
    
}
input{
    border: none;
    width: 100%;
}
#total{
    margin-left: 35px;
    font-weight: bolder;
    font-size: 20px;
}
#botones{
    margin-left: 35px;
    font-weight: bolder;
    font-size: 20px;
}

